### importing essential libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

### parsing html content

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue"  # website url

In [3]:
page = requests.get(url)  # requesting page content

In [4]:
soup = BeautifulSoup(page.text,'html')  # saving page content in html format

### extracting table column_names

In [5]:
table = soup.find_all('table')[0]

In [6]:
columns = table.find('tr')

In [7]:
columns = [title.text.strip() for title in columns]

In [8]:
column_names = columns[1::2]

In [9]:
column_names

['Rank',
 'Name',
 'Industry',
 'Revenue',
 'Profit',
 'Employees',
 'Headquarters[note 1]',
 'State-owned',
 'Ref.']

### scraping table rows data

In [10]:
table_body = table.find('tbody')
rows = table_body.find_all('tr')

In [11]:
# extracting data

In [12]:
data = []
count = 0
for row in rows:
    
    if count>1:
        element_data = row.find_all('td')
        x = [data.text.strip() for data in element_data] # extracting all the data except rank, state_owned,reference
        
        x.insert(0,row.th.text.strip()) # inserting rank
        
        x.pop() # poping out un-useful element
        x.pop() # poping out un-useful element
        
        if row.find('td',class_ = "table-no2") is None:  # extracting & appending state_owned
            x.append('Yes')
        else:
            x.append('No')
        
        ref = row.find('sup',class_ = 'reference') # extracting & appending reference
        x.append(ref.a.get('href'))
        
        
        data.append(x)
        
    count += 1

In [13]:
data[0]

['1',
 'Walmart',
 'Retail',
 '$611,289',
 '$11,680',
 '2,100,000',
 'United States',
 'No',
 '#cite_note-W-1']

### converting scraped data into pandas dataframe

In [14]:
df = pd.DataFrame(data, columns = column_names)

In [15]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.
0,1,Walmart,Retail,"$611,289","$11,680","2,100,000",United States,No,#cite_note-W-1
1,2,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia,Yes,#cite_note-5
2,3,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China,Yes,#cite_note-6
3,4,Amazon,Retail,"$513,983","−$2,722","1,541,000",United States,No,#cite_note-7
4,5,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland,No,#cite_note-8
5,6,China National Petroleum Corporation,Oil and gas,"$483,019","$21,080","1,087,049",China,Yes,#cite_note-10
6,7,China Petrochemical Corporation,Oil and gas,"$471,154","$9,657","527,487",China,Yes,#cite_note-11
7,8,ExxonMobil,Oil and gas,"$413,680","$55,740","63,000",United States,No,#cite_note-:0-12
8,9,Apple,Electronics,"$394,328","$99,803","164,000",United States,No,#cite_note-13
9,10,Shell,Oil and gas,"$386,201","$20,120","93,000",United Kingdom,No,#cite_note-14
10,11,UnitedHealth Group,Healthcare,"$324,162","$20,120","400,000",United States,No,#cite_note-15
11,12,CVS Health,Healthcare,"$322,467","$4,149","259,500",United States,No,#cite_note-16
12,13,Trafigura,Commodities,"$318,476","$6,994","12,347",Singapore,No,#cite_note-17
13,14,China State Construction Engineering,Construction,"$305,885","$4,234","382,492",China,Yes,#cite_note-18
14,15,Berkshire Hathaway,Financials,"$302,089","−$22,82","383,000",United States,No,#cite_note-19
15,16,Volkswagen Group,Automotive,"$293,685","$15,233","675,805",Germany,No,#cite_note-20
16,17,Uniper,Electricity,"$288,309","−$19,96","7,008",Germany,Yes,#cite_note-21
17,18,Alphabet,Information technology,"$282,836","$59,972","190,234",United States,No,#cite_note-22
18,19,McKesson,Healthcare,"$276,711","$3,560","48,000",United States,No,#cite_note-23
19,20,Toyota,Automotive,"$274,491","$18,110","375,235",Japan,No,#cite_note-24
20,21,TotalEnergies,Oil and gas,"$263,310","$20,526","101,279",France,No,#cite_note-25
21,22,Glencore,Commodities,"$255,984","$17,320","81,284",Switzerland,No,#cite_note-26
22,23,BP,Oil and gas,"$248,891","−$2,487","67,600",United Kingdom,No,#cite_note-27
23,24,Chevron,Oil and gas,"$246,252","$35,465","43,846",United States,No,#cite_note-28
24,25,AmerisourceBergen,Healthcare,"$238,587","$1,699","41,500",United States,No,#cite_note-29
25,26,Samsung Electronics,Electronics,"$234,129","$42,398","270,372",South Korea,No,#cite_note-30
26,27,Costco,Retail,"$226,954","$5,844","304,000",United States,No,#cite_note-31
27,28,Foxconn,Electronics,"$222,535","$4,751","767,062",Taiwan,No,#cite_note-32
28,29,Industrial and Commercial Bank of China,Financials,"$214,766","$53,589","427,587",China,Yes,#cite_note-33
29,30,China Construction Bank,Financials,"$202,753","$48,145","376,682",China,Yes,#cite_note-34
30,31,Microsoft,Information technology,"$198,270","$72,738","221,000",United States,No,#cite_note-35
31,32,Stellantis,Automotive,"$188,888","$17,669","272,367",Netherlands,No,#cite_note-36
32,33,Agricultural Bank of China,Financials,"$187,061","$38,524","452,258",China,Yes,#cite_note-37
33,34,Ping An Insurance,Financials,"$181,566","$12,454","344,223",China,No,#cite_note-38
34,35,Cardinal Health,Healthcare,"$181,364",−$933,"46,035",United States,No,#cite_note-39
35,36,Cigna,Healthcare,"$180,516","$6,668","70,231",United States,No,#cite_note-40
36,37,Marathon Petroleum,Oil and gas,"$180,012","$14,516","17,800",United States,No,#cite_note-41
37,38,Phillips 66,Oil and gas,"$175,702","$11,024","13,000",United States,No,#cite_note-42
38,39,Sinochem,Chemicals,"$173,834",–$1,"220,760",China,Yes,#cite_note-43
39,40,China Railway Engineering Corporation,Construction,"$171,669","$2,035","314,792",China,Yes,#cite_note-44
40,41,Valero Energy,Oil and gas,"$171,189","$11,528","9,743",United States,No,#cite_note-:2-45
41,42,Gazprom,Oil and gas,"$167,832","$17,641","468,000",Russia,Yes,#cite_note-46
42,43,Cargill,Conglomerate,"$165,000",...,"155,000",United States,No,#cite_note-47
43,44,China National Offshore Oil Corporation,Oil and gas,"$164,762","$16,988","81,775",China,Yes,#cite_note-48
44,45,China Railway Construction Corporation,Construction,"$163,037","$1,800","342,098",China,Yes,#cite_note-49
45,46,Baowu,Steel,"$161,698","$2,493","245,675",China,Yes,#cite_note-50
46,47,Schwarz Gruppe,Retail,"$159,800",...,"575,000",Germany,No,#cite_note-51
47,48,Mitsubishi Group,Conglomerate,"$159,371","$8,723","79,706",Japan,No,#cite_note-52
48,49,Ford Motor Company,Automotive,"$158,057","−$1,981","173,000",United States,No,#cite_note-53
49,50,Mercedes-Benz Group,Automotive,"$157,403","$15,252","168,797",Germany,No,#cite_note-54

### saving data as csv file

In [16]:
df.to_csv('wiki_scrap',index = False)